body {
	display: flex;
	justify-content: center;
}
h2 {
	color: rgb(41, 54, 238);
	font-size: 30px;
	text-align: center;
}
input, a {
	cursor: pointer;
}
a {
	text-decoration: none;
	color: rgb(41, 54, 238);
}
.container {
	padding: 30px;
}
.form-avtoriz {
	border: rgb(199, 195, 195) solid 2px;
	width: 400px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.form-mail {
	padding-bottom: 20px;
}
.form-mail  input {
	margin-top: 5px;
	padding: 15px;
	min-width: 300px;
}
.form-psw input {
	margin-top: 5px;
	padding: 15px;
	min-width: 300px;
}
.radio input {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.btn {
	width: 330px;
	height: 50px;
	background: rgb(91, 91, 201);
	border-radius: 10px;
	color: #fff;
	font-weight: 900;
	font-size: 16px;
	border: 0px;
	margin-bottom: 15px;
}
.text {
	text-align: center;
	padding-bottom: 40px;
	padding-top: 20px;
	color: rgb(39, 21, 201);
	font-weight: 900;
}
.text-footer {
	padding: 10px;
}
.forgot-pass {
	padding-left: 110px;
}
input[type=email]:focus,
input[type=password]:focus {
	border-color: rgb(84, 147, 228);
	outline: none;
} 